<nav class="navbar-custom navbar navbar-expand-lg navbar-dark bg-light">
    <a id="show-search-btn" href="#" class="btn-icon"><i class="fas fa-search"></i></a>
    <div class="event-title-container">
        <div id="search-box-container" style="z-index: 3">
        <input id="search-box" autocomplete="off" placeholder="<%= __("Search the Timeline") %>" >
        </div>	
        <span id="btn-close-reading-panel"><i class="far fa-times-circle"></i></span>
    </div>
    <div id="timeline-title-container">
        <img class="logo-bywg" src="https://biography.wales/assets/img/logo_bywg.svg" 
             title="Dictionary of Welsh Biography logo" alt="Read more about the project">
        <div id="active-filters-container">
        </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#hamburger"
            aria-controls="hamburger" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="hamburger">
        <div class="navbar-nav ml-auto mt-2 mt-lg-0">
            <a href="#" id="btn-world-events" class="btn-icon">
                <i class="fas fa-dragon"></i><span class="navlabel"><%= __("Welsh History") %></span>
            </a> 
            <a href="#" id="btn-open-filters" class="btn-icon nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <i class="fas fa-filter"></i><span class="navlabel"><%= __("Filters") %></span><span class="label-total-filters"></span>
            </a>
            <!--<a href="#" id="btn-open-color-code" class="btn-icon">
                <i class="fas fa-tint"></i><span class="navlabel"><%= __("Colour Code") %></span>
            </a> -->
            <% if (lang === "en")  { 
                var twitterHref = "https://twitter.com/WelshBiography",
                    langText = "Cymraeg",
                    langHref = "/cy";
            } else {
                var twitterHref = "https://twitter.com/bywgraffiadur",
                    langText = "English",
                    langHref = "/en";
            } %>
            <a id="btn-open-share" class="btn-icon nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" href="#" alt="" title="">
                <i class="fas fa-share"></i><span class="navlabel"><%= __ ("Share") %></span>
            </a>
            <a class="twitter btn-icon nav-item" href=<%= twitterHref %> alt="Twitter" title="Twitter">
                <i class="fab fa-twitter"></i><span class="navlabel">Twitter</span>
            </a>
            <a id="btn-open-info" class="btn-icon nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" href="#" alt="" title="">
                <i class="fas fa-info"></i><span class="navlabel"><%= __ ("Info") %></span>
            </a>
            <a href=<%= langHref %> id="btn-lang-switch" class="btn-icon mx-2">
                <%= langText %>
            </a>
        </div>
    </div>
</nav>