<!DOCTYPE html>
<html  lang=<%= lang %> dir=<%= lang_dir %> >
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title><%= gettext("Dictionary of Welsh Biography") %></title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
 
<nav class="navbar-custom navbar navbar-expand-lg navbar-dark bg-light">
    <a id="show-search-btn" href="#" class="btn-icon"><i class="fas fa-search"></i></a>
    <div class="event-title-container">
        <div id="search-box-container" style="z-index: 3">
        <input id="search-box" placeholder="Search the Timeline" autocomplete="off">
        </div>	
        <span id="btn-close-reading-panel" style="color:white; z-index:3"><i class="far fa-times-circle"></i></span>
    </div>
    <div id="timeline-title-container">
        <img class="logo-bywg" src="https://biography.wales/assets/img/logo_bywg.svg" title="Dictionary of Welsh Biography logo" alt="Read more about the project">
        <div id="selected-filters-container"></div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler2" aria-controls="navbarToggler1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler2">
        <div class="navbar-nav ml-auto mt-2 mt-lg-0">
            <a href="#" id="btn-world-events" class="btn-icon active"><i class="fas fa-dragon"></i><span class="navlabel">Welsh History</span></a> 
            <a href="#" id="btn-open-filters" class="btn-open-page btn-icon nav-item" target-element="filter-types-panel"><i class="fas fa-filter"></i><span class="navlabel"> Filters </span><span class="label-total-filters"></span></a>
            <a href="#" id="btn-open-color-code" class="btn-icon"><i class="fas fa-tint"></i><span class="navlabel">Colour Code</span></a> 
           
            <a class="twitter btn-icon nav-item px-0" href="https://twitter.com/WelshBiography" alt="Twitter" title="Twitter"><i class="fab fa-twitter"></i><span class="navlabel">Twitter</span></a>
            <a id="btn-open-info" class="btn-icon nav-item btn-open-page px-0" href="#" alt="" title=""><i class="fas fa-info"></i><span class="navlabel">Info</span></a>
             <a href="#" id="btn-lang-switch" class="btn-icon pl-3">Cymraeg</a>
        </div>
    </div>
</nav> 

<!--************ ZOOM BUTTONS ***************-->
<div class="timeline-controls-set">
	<a href="#" class="timeline-control-btn theme-btn" id="zoom-in-btn"><i class="fas fa-plus"></i></a>
	<a href="#" class="timeline-control-btn theme-btn" id="zoom-out-btn"><i class="fas fa-minus"></i></a>
</div>
 
<!--************ READING PANEL****************-->	
	
<div id="reading-panel">
    <div class="reading-panel-header">
        <div class="event-details">
            <h5 class="label-event-date reading-panel-date my-0">Day Month Year</h5>
            <p class="label-event-desc reading-panel-desc my-0"></p>
        </div>	
    </div>
    <div class="reading-panel-btns-container">
        <button type="button" class="btn-panel-switch" tab="wikipedia">Wikipedia</button>
        <button type="button" class="btn-panel-switch" tab="dwb">DWB</button>
    </div>
    <div id="reading-panel-background">
        <div class="reading-panel-content" style="overflow:auto;-webkit-overflow-scrolling:touch;">
            <iframe id="reading-panel-iframe" src="https://en.m.wikipedia.org/wiki/Mary_Somerville" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
        </div>
    </div>
</div>	
	
	
<!--************ FILTER PANEL****************-->
	
<div id="filter-types-panel" class="noselect filter-panel text-center container" style="display: none">
    <button class="btn-block btn-dark btn-sm btn btn-close-filter-types-panel" style="">Close&nbsp;<i class="fas fa-times"></i></button>
    <div class="filter-panel-header">
        <h1>Filter the Timeline</h1>
        <h6>Choose the type of filter you want to apply</h6>
    </div>
    <div class="filter-panel-content">
        <div id="filter-types-list-container" class="btn-group-vertical btn-block" role="group" aria-label="Vertical button group">
            <button type="button" filter-property="gender" class="btn btn-outline-secondary btn-lg" style="text-align: left">gender<i class="fas fa-chevron-right"></i> <span class="label-selected-filters"></span></button>
            <button type="button" filter-property="occupation" class="btn btn-outline-secondary btn-lg" style="text-align: left">occupation<i class="fas fa-chevron-right"></i> <span class="label-selected-filters"></span></button>
        </div>
    </div>
    <button id="btn-clear-all-filters" type="button" class="btn btn-danger">Clear All Filters</button>
    <footer class="bywg_footer container no-gutters d-print-none">
        <div class="row">
            <div class="col-md-12 col-lg-6 no-gutters bwyg_footer_first">
                <ul class="list-inline">
                    <li><a href="https://www.library.wales/index.php?id=355">Privacy &amp; Cookies</a></li>
                    <li><a href="https://biography.wales/copyright">Copyright</a></li>
                    <li><a href="https://biography.wales/about">The Project</a></li>
                    <li><a href="https://biography.wales/help">Help</a></li>
                    <li><a href="https://biography.wales/about#contactus">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-12 col-lg-3 no-gutters bywg_footer_second">
                <a href="https://www.library.wales/">
                    <img class="bygw_logo-icon" src="https://biography.wales/assets/img/bywg_footer_llgc.png" alt="National Library of Wales Logo" title="National Library of Wales Logo">
                </a>
            </div>
            <div class="col-md-12 col-lg-3 no-gutters bywg_footer_third">
                <div class="icon-container">
                    <a href="http://www.wales.ac.uk/en/CentreforAdvancedWelshCelticStudies/IntroductiontotheCentre.aspx">
                        <img class="bygw_logo-icon icon-round" src="https://biography.wales/assets/img/bywg_footer_ganolfan.png" alt="The Centre for Advanced Welsh and Celtic Studies Logo" title="The Centre for Advanced Welsh and Celtic Studies Logo">
                    </a>
                </div>
                <div class="icon-container">
                    <a href="https://www.cymmrodorion.org/">
                        <img class="bygw_logo-icon icon-round" src="https://biography.wales/assets/img/bywg_footer_cymmrodorion.png" alt="The Honourable Society of Cymmrodorion Logo" title="The Honourable Society of Cymmrodorion Logo">
                    </a>
                </div>
                    <div class="icon-container float-right">
                    <a href="https://gov.wales/?lang=en">
                        <img class="bygw_logo-icon" src="https://biography.wales/assets/img/logo_cynulliad_round_transp.png" alt="Welsh Government Logo" title="Welsh Government Logo">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>

<!--************ FILTER PANEL SEARCH PANEL****************-->
	
<div id="filter-search-panel" class="noselect filter-panel container" style="z-index: 4; display: none">
    <a href="#" class="btn-dark btn-block btn-sm btn btn-close-filter-panel"><i class="fas fa-chevron-left"></i>&nbsp;Back</a>
    <div class="filter-panel-header">
        <h2>Filter by <span id="filter-property-label">type</span></h2>
    </div>
    <div class="filter-panel-content" role="group" aria-label="Vertical button group">
            <!-- *** populated by JavaScript *** -->
        <div class="filter-search-container">
            <select class="filter-panel-search" filter-property="gender" style="width:100%"></select>
        </div>
        <div class="filter-search-container">
            <select class="filter-panel-search" filter-property="occupation" style="width:100%"></select>
        </div>
    </div>
    <footer class="bywg_footer container no-gutters d-print-none">
        <div class="row">
            <div class="col-md-12 col-lg-6 no-gutters bwyg_footer_first">
                <ul class="list-inline">
                    <li><a href="https://www.library.wales/index.php?id=355">Privacy &amp; Cookies</a></li>
                    <li><a href="https://biography.wales/copyright">Copyright</a></li>
                    <li><a href="https://biography.wales/about">The Project</a></li>
                    <li><a href="https://biography.wales/help">Help</a></li>
                    <li><a href="https://biography.wales/about#contactus">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-12 col-lg-3 no-gutters bywg_footer_second">
                <a href="https://www.library.wales/">
                    <img class="bygw_logo-icon" src="https://biography.wales/assets/img/bywg_footer_llgc.png" alt="National Library of Wales Logo" title="National Library of Wales Logo">
                </a>
            </div>
            <div class="col-md-12 col-lg-3 no-gutters bywg_footer_third">
                <div class="icon-container">
                    <a href="http://www.wales.ac.uk/en/CentreforAdvancedWelshCelticStudies/IntroductiontotheCentre.aspx">
                        <img class="bygw_logo-icon icon-round" src="https://biography.wales/assets/img/bywg_footer_ganolfan.png" alt="The Centre for Advanced Welsh and Celtic Studies Logo" title="The Centre for Advanced Welsh and Celtic Studies Logo">
                    </a>
                </div>
                <div class="icon-container">
                    <a href="https://www.cymmrodorion.org/">
                        <img class="bygw_logo-icon icon-round" src="https://biography.wales/assets/img/bywg_footer_cymmrodorion.png" alt="The Honourable Society of Cymmrodorion Logo" title="The Honourable Society of Cymmrodorion Logo">
                    </a>
                </div>
                <div class="icon-container float-right">
                    <a href="https://gov.wales/?lang=en">
                        <img class="bygw_logo-icon" src="https://biography.wales/assets/img/logo_cynulliad_round_transp.png" alt="Welsh Government Logo" title="Welsh Government Logo">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>
    
<!--************ INFO PANEL****************-->
	
<div id="info-panel" class="noselect filter-panel container" style="display: none">
    <button class="btn-block btn-dark btn-sm btn btn-close-info-panel" style="">Close&nbsp;<i class="fas fa-times"></i></button>
    <div class="filter-panel-header">
        <h1>Dictonary of Welsh Biography</h1>
        <h2>Interactive Timeline</h2>
    </div>
    <div class="filter-panel-content">
        <p>The Dictionary of Welsh Biography (DWB) is the starting point for anyone seeking biographical information about persons throughout history whose contribution or prominence has shaped some aspect of the life of Wales, including the impact of Welsh people in the wider world.</p>
        <p>It provides free access to around 5,000 concise biographical articles in Welsh and English, each fully researched and written by a named specialist author.</p>
        <p>The subjects represent a very wide range of activities, including religion, literature and the arts, government and politics, education and scholarship, law, science and technology, industry, economics and trade, agriculture and land ownership, the military, sport, exploration, philanthropy, and more.</p>
        <p>The DWB is a comprehensive, authoritative and accessible standard academic reference work intended for users of all backgrounds.</p>
    </div>
    <footer class="bywg_footer container no-gutters d-print-none">
        <div class="row">
            <div class="col-md-12 col-lg-6 no-gutters bwyg_footer_first">
                <ul class="list-inline">
                    <li><a href="https://www.library.wales/index.php?id=355">Privacy &amp; Cookies</a></li>
                    <li><a href="https://biography.wales/copyright">Copyright</a></li>
                    <li><a href="https://biography.wales/about">The Project</a></li>
                    <li><a href="https://biography.wales/help">Help</a></li>
                    <li><a href="https://biography.wales/about#contactus">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-12 col-lg-3 no-gutters bywg_footer_second">
                <a href="https://www.library.wales/">
                    <img class="bygw_logo-icon" src="https://biography.wales/assets/img/bywg_footer_llgc.png" alt="National Library of Wales Logo" title="National Library of Wales Logo">
                </a>
            </div>
            <div class="col-md-12 col-lg-3 no-gutters bywg_footer_third">
                <div class="icon-container">
                    <a href="http://www.wales.ac.uk/en/CentreforAdvancedWelshCelticStudies/IntroductiontotheCentre.aspx">
                        <img class="bygw_logo-icon icon-round" src="https://biography.wales/assets/img/bywg_footer_ganolfan.png" alt="The Centre for Advanced Welsh and Celtic Studies Logo" title="The Centre for Advanced Welsh and Celtic Studies Logo">
                    </a>
                </div>
                <div class="icon-container">
                    <a href="https://www.cymmrodorion.org/">
                        <img class="bygw_logo-icon icon-round" src="https://biography.wales/assets/img/bywg_footer_cymmrodorion.png" alt="The Honourable Society of Cymmrodorion Logo" title="The Honourable Society of Cymmrodorion Logo">
                    </a>
                </div>
                    <div class="icon-container float-right">
                    <a href="https://gov.wales/?lang=en">
                        <img class="bygw_logo-icon" src="https://biography.wales/assets/img/logo_cynulliad_round_transp.png" alt="Welsh Government Logo" title="Welsh Government Logo">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>

	
<!--************ COLOR CODE PANEL****************-->	
	
<div id="color-code-panel" class="color-code-filter-panel" style="display: none">
    <a href="#" id="btn-close-color-code-mobile" class="btn-dark btn-block btn-sm btn btn-open-page" target-element=""><%= gettext("Close") %>&nbsp;<i class="fas fa-times"></i></a> 
    <div class="color-code-filter-panel-header">	
        <!--<button id="btn-close-color-code-desktop" class="btn btn-outline-primary btn-sm"><i class="fas fa-chevron-right"></i></button> -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="color-code-select"><%= gettext("Colour Code by") %></label>
            </div>
            <select class="custom-select" id="color-code-select">
                <option selected="">option 1</option>
                <option value="1">option 2</option>
                <option value="2">option 3</option>
                <option value="3">option 5</option>
            </select>
        </div>
    </div>
    <table id="color-code-table" class="table table-hover">
        <tbody>
        <!-- ***Color code key populated by JavaScript*** -->
        <tr group-id="0"> <th scope="row" style="background-color:#961111">&nbsp;</th> <td>World War II (10)</td><td></td></tr>
        <tr group-id="1"> <th scope="row" style="background-color:#1a5d1f">&nbsp;</th> <td>Operation Overlord (7)</td><td> </td></tr>
        <tr group-id="2"> <th scope="row" style="background-color:#1565c0">&nbsp;</th> <td>Western Front (World War II) (6)</td><td> </td></tr>
        <tr group-id="3"> <th scope="row" style="background-color:#7b1fa2">&nbsp;</th> <td>Battle for Caen (4)</td><td> </td></tr>
        <tr group-id="4"> <th scope="row" style="background-color:#b78617">&nbsp;</th> <td>Allied advance from Paris to the Rhine (1)</td><td> </td></tr>
        <tr group-id="5"> <th scope="row" style="background-color:#d66f6f">&nbsp;</th> <td>Battle of Arnhem (1)</td><td> </td></tr>
        <tr group-id="6"> <th scope="row" style="background-color:#56ab6c">&nbsp;</th> <td>Battle of the Scheldt (1)</td><td> </td></tr>
        <tr group-id="7"> <th scope="row" style="background-color:#377f9a">&nbsp;</th> <td>Invasion of Normandy (1)</td><td> </td></tr>
        <tr group-id="8"> <th scope="row" style="background-color:#666">&nbsp;</th> <td>Miscellaneous (7)</td><td> </td></tr>
        </tbody>
    </table>
</div>

<div id="timeline-container"></div>
	
 
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.9/jquery.autocomplete.min.js"></script>
<script src="http://histropedia.com/histropediajs/js/histropedia-1.1.1.min.js"></script>
<script src=<%="data/" + lang + "/context-events.js"%> > </script>
<script src="js/main.js"></script>
</body>
</html>
